Repository theSKYteam/Algorithms, pull requests merged in 2021-07, with the labels that each got.

#1 Add : init template files
  .eslintrc.json
  .gitignore
  package.json
  template.js
  template.test.js
Labels: Init

#3 Add: Week1 solutions and test codes
  SeungYeon/Week1/DevFunction/README.md
  SeungYeon/Week1/DevFunction/solution.js
  SeungYeon/Week1/DevFunction/solution.test.js
  SeungYeon/Week1/MaxNumber/README.md
  SeungYeon/Week1/MaxNumber/solution.js
  SeungYeon/Week1/MaxNumber/solution.test.js
Labels: Week1

#4 Add : update solution and test files
  EonJo/day20210707/1/solution.js
  EonJo/day20210707/1/solution.test.js
  EonJo/day20210707/2/solution.js
  EonJo/day20210707/2/solution.test.js
Labels: Week1

#5 Add: week1 solution and test codes
  GaHee/Week1/DevFunction/README.md
  GaHee/Week1/DevFunction/solution.js
  GaHee/Week1/DevFunction/solution.test.js
  GaHee/Week1/MaxNumber/README.md
  GaHee/Week1/MaxNumber/solution.js
  GaHee/Week1/MaxNumber/solution.test.js
Labels: Week1

#6 week 2 solution
  EonJo/day20210714/1/solution.js
  EonJo/day20210714/1/solution.test.js
  EonJo/day20210714/2/solution.js
  EonJo/day20210714/2/solution.test.js
  EonJo/day20210714/3/solution.js
  EonJo/day20210714/3/solution.test.js
  package.json
Labels: Week2

#7 Week2 solutions and test codes
  SeungYeon/Week2/README.md
  SeungYeon/Week2/구명보트/solution.js
  SeungYeon/Week2/구명보트/solution.test.js
  SeungYeon/Week2/입국심사/solution.js
  SeungYeon/Week2/입국심사/solution.test.js
  SeungYeon/Week2/점프와순간이동/solution.js
  SeungYeon/Week2/점프와순간이동/solution.test.js
Labels: Week2

#9 modify & update!
  GaHee/Week1/DevFunction/solution.js
  GaHee/Week1/DevFunction/solution.test.js
  GaHee/Week1/MaxNumber/solution.js
  GaHee/Week1/MaxNumber/solution.test.js
  GaHee/Week2/JumpAndWarp/README.md
  GaHee/Week2/JumpAndWarp/solution.js
  GaHee/Week2/JumpAndWarp/solution.test.js
  GaHee/Week2/Lifeboat/README.md
  GaHee/Week2/Lifeboat/solution.js
  GaHee/Week2/Lifeboat/solution.test.js
Labels: Week2

#8 2주차 코딩테스트!
  JaeWon/Week2/Immigration/READMD.md
  JaeWon/Week2/Immigration/solution.js
  JaeWon/Week2/Immigration/solution.test.js
  JaeWon/Week2/Jump/README.md
  JaeWon/Week2/Jump/solution.js
  JaeWon/Week2/Jump/solution.test.js
  JaeWon/Week2/boat/README.md
  JaeWon/Week2/boat/solution.js
  JaeWon/Week2/boat/solution.test.js
Labels: Week2
